.header_page
    background-image linear-gradient(rgba(0, 0, 0, 0.7), rgba(139, 139, 139, 0.26)), url('/image/BatteryBG.jpg')
    background-repeat no-repeat
    background-attachment fixed
    background-position top
    background-size cover
    width 100%
    height 770px
.side_navigation
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    padding 1rem 0
    font-size 1.3rem
    font-weight 100
    a
        font-size 1.3rem
        &:hover
            color mainColor1

.logotype_navigation
    display block
    text-align center
.side_navigation_list
    width 40rem
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between

//header_info 
.header_info
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    margin-top 6rem
    
.header_item-info
    text-align center
    line-height 1.3
    margin 0 auto
    position relative
    .actionButton
        bottom -7rem
.header-info_item
    font-weight 100
    font-size 2.5rem