mainBGcolor = #1644ac

mainGeneralTextColor = #fff
mainTitleColor = mainGeneralTextColor
mainTextColor = alpha(mainGeneralTextColor, 90%)


//mainColor1 = #3FC9E7
mainColor1 = #27b9b3

//mainColor2 = #2941A5
mainColor2 = #ffffff